# .NET
bin/
obj/
*.user
*.suo
.vs/

# Generated config (created by scripts/init.mjs)
backend/**/appsettings.Development.json
frontend/.env

# Frontend
node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
